<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="/static/style/main.css">
    <link rel="stylesheet" href="/static/style/personal_blog.css">
</head>
<body>
    <div class="container">
        {% if "user_id" in session%}
        <nav class="nav1">
            <a href="/">Main Page</a>
            <a href="/social_blog">Social Blog</a>
            <a href="/account_page/{{user.id}}">Your Account</a>
            <a href="/logout">logout</a>
            <div class="animation start-MyBlog"></div>
        </nav>
        {% else %}
        <nav class="nav2">
            <a href="/">Main Page</a>
            <a href="/social_blog">Social Blog</a>
            <a href="/login_signup">login / sign-up</a>
            <div class="animation start-MyBlog"></div>
        </nav>
        {%endif%}
        <div class="main_content">
            <div class="text_areas">
                <h2>My first post (pinned) 2/11/24</h2>
                    <p>This area is for me to post updates and blogs. This website was built by me using a combination of HTML, CSS, Python, Flask, and MySQL.
                        I intentionally did not use any CSS frameworks, such as bootstrap or tailwind, however I do know how to use them.
                        It was created just to show some of my capabilities. I also wanted to build this as a place to test 
                        functionalities and different ways to write code. For this purpose I intend to keep it relatively barebones,
                        just for ease of editing the code and adding in functionalities sort of like a sandbox website for myself.
                        Feel free to test out the current capabilities, sign up, and post your own "blogs" on here and feel free to 
                        leave feedback such as comments, and criticisms so I know what I should do better on here, or what was done well.
                        I also would like to hear what ideas on what you would like to see implemented on the site.
                    </p>
            </div>
        </div>
    </div>
</body>
</html>