.blog_edit {
    color: whitesmoke;
    width: 50%;
    margin: 2em auto;
    text-align: center;
    background-color: #34495e;
    padding: 1em;
    padding-bottom: 2em;
    border-radius: 8px;
    overflow: wrap;
}
textarea {
    max-width: 100%;
}
.space {
    margin: .5rem;
}