.flex{
    display: flex;
    justify-content: center;
    margin-left: 3rem;
}
#left{
    display: flex;
    flex-direction: column;
    height: 30%;
    margin: 2em;
}
.right{
    margin: 2em;
    overflow-wrap: break-word;
    overflow: scroll;
    width: auto;
}
#post_title, #post_text {
    max-width: 80%;
}
