<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="/static/style/main.css">
    <link rel="stylesheet" href="/static/style/account_page.css">
</head>
<body>
    <div class="container">
        <nav class="nav1">
            <a href="/">Main Page</a>
            <a href="/personal_blog">My Blog</a>
            <a href="/social_blog">Social Blog</a>
            <a href="/logout">logout</a>
            <div class="animation start-MyBlog"></div>
        </nav>
        <div class="text_areas accountedit">
            <h2>Edit Your Account Details</h2>
            <form action="/update_account/{{user.id}}" method="POST">
                <div class="forminputs">
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name" value="{{user.first_name}}">
                </div>
                <div class="forminputs">
                    <label for="last_name">Last name:</label>
                    <input type="text" id="last_name" name="last_name" value="{{user.last_name}}">
                </div>
                <div class="forminputs">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" value="{{user.email}}">
                </div>
                <div class="forminputs">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="forminputs">
                    <label for="confirm_password">Confirm password:</label>
                    <input type="password" id="confirm_password" name="confirm_password" value="">
                </div>
                <button>Submit</button>
            </form>
        </div>
    </div>
</body>
</html>