<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brenden Camastro Portfolio</title>
    <link rel="stylesheet" href="/static/style/main.css">
    <link rel="stylesheet" href="/static/style/index.css">
</head>
<body>
    <div class="container">
        {% if "user_id" in session%}
        <nav class="nav1">
            <a href="/personal_blog">My Blog</a>
            <a href="/social_blog">Social Blog</a>
            <a href="/account_page/{{user.id}}">your account</a>
            <a href="/logout">logout</a>
            <div class="animation start-MyBlog"></div>
        </nav>
        {% else %}
        <nav class="nav2">
            <a href="/personal_blog">My Blog</a>
            <a href="/social_blog">Social Blog</a>
            <a href="/login_signup">login / sign-up</a>
            <div class="animation start-MyBlog"></div>
        </nav>
        {% endif %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="body">
            <img src="static/images/IMG_1154.jpg" alt="Image of Brenden Camastro">
            <div class="text_areas" id="about">
                <h2>About Me</h2>
                <p>My name is Brenden Camastro. I have a passion for all things tech related, and have been on a long bunpy 
                    road trying to figure out what my dream job looked like.
                    I am thrilled to say I know what I am looking for. I spent a year in a software developer 
                    course through coding dojo. I have learned so much with them about full stack development 
                    and enjoy all aspects of it. I am now enjoying furthering my education persuing a deeper knowledge for every stage 
                    of development, and learing other programing languages.
                </p>
            </div>
        </div>
    </div>
</body>
</html>