<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / sign-up</title>
    <link rel="stylesheet" href="/static/style/main.css">
    <link rel="stylesheet" href="/static/style/login.css">
</head>
<body>
    <nav class="nav2">
        <a href="/">home</a>
        <a href="/personal_blog">My Blog</a>
        <a href="/social_blog">Social Blog</a>
        <div class="animation start-MyBlog"></div>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p id="alert">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="signup">
            <div class="labels">
                Register
            </div>
            <form action="/sign_up" method="post">
                <input type="hidden" name="which_form" value="register">
                <div class="input_div">
                    <label for="first_name" class="form-label">First Name:</label>
                    <br>
                    <input type="text" id="first_name" name="first_name">
                </div>
                <div class="input_div">
                    <label for="last_name" class="form-label">Last name:</label>
                    <br>
                    <input type="text" id="last_name" name="last_name">
                </div>
                <div class="input_div">
                    <label for="email" class="form-label">Email: </label>
                    <br>
                    <input type="text" id="email" name="email">
                </div>
                <div class="input_div">
                    <label for="password" class="form-label">Password:</label>
                    <br>
                    <input type="password" id="password" name="password">
                </div>
                <div class="input_div">
                    <label for="confirm_password" class="form-label">Confirm password:</label>
                    <br>
                    <input type="password" id="confirm_password" name="confirm_password">
                </div>
                <button>Submit</button>
            </form>
        </div>
    
        <div class="login">
            <div class="labels">
                Login
            </div>
            <form action="/login" method="post">
                <input type="hidden" name="which_form" value="login">
                <div class="input_div">
                    <label for="login_email" class="form-label">Email:</label>
                    <br>
                    <input type="text" id="login_email" name="email">
                </div>
                <div class="input_div">
                    <label for="password" class="form-label">Password:</label>
                    <br>
                    <input type="password" id="password" name="password">
                </div>
                <button>Submit</button>
            </form>
        </div>
    </div>
</body>
</html>